*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', 'sans-serif';
    box-sizing: border-box;
}

body{
    justify-content: center;
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(../register/img/register.png) no-repeat;
    /* background:aqua; */
    background-size: cover;
    background-position: center;
}

.wrapper{
    background: transparent;
    border: 2px solid rgb(156, 35, 122s);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px #333;
    width: 500px;
    border-radius: 10px;
    padding: 40px 40px;
}

.wrapper .borderline{
    border: 2px solid #c7128e;
    border-radius: 10px;
    padding: 40px;
}

.wrapper h1{
    text-align: center;
    font-size: 36px;
    color: rgb(194, 12, 94);
    font-weight: 400;
}

.wrapper .input_box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input_box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 30px;
    padding: 0px 35px;
    color: rgb(0, 0, 0);
    font-size: 18px;
}

.input_box label{
    position: absolute;
    left: 35px;
    top: 30%;
    color: rgb(0, 0, 0);
    transition: 0.5s;
    pointer-events: none;
}

.input_box input:valid ~ label,
.input_box input:focus ~label{
    color: #c7128e;
    font-size: 16px;
    transform: translateY(-25px);
    font-size: 17px;
} 

.input_box i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
    background: rgb(0, 0, 0);
}

.input_box small{
    margin: 0 2px;
    visibility: hidden;
    color: rgba(253, 6, 6, 0.843);
}

.input_box box-icon{
    position: absolute;
    left: 7px;
    font-size: 36px;
}

.wrapper .btn{
    width: 100%;
    height: 45px;
    background: rgb(118, 12, 46);
    border: none;
    outline: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
}


textarea{
    width: 335px;
    height: 60px;
    padding: 13px;
    font-size: 16px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 4px;
}

