*{
    margin: 0px;
    padding: 0px;
}

body{
    background: rgb(255, 255, 255);
    font-family: 'poppins', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: rgba(250, 235, 215, 0.8);
}

/* nav */

nav{
    display: flex;
    position: static;
    width: 100%;
    background-color: #4c0e2e;
    align-items: center;
    height: 100px;
    top: 0;
    box-shadow: 0px 1px 8px;
}

#nav-icon{
    display: flex;
    align-items: center;
}
#nav-icon img{
    width: 200px;
    height: 200px;
    border: none;
}

#nav-icon h1{
    color: white;
    font-family: sans-serif;
    font-weight: 900;
    letter-spacing: 0.3rem;
}

.view:hover,
.register:hover{
    color: gold;
}


.home-img{
    width: auto;
    height: 50px;
    border: 1px solid #4c0e2e;
    border-radius: 50%;
    margin-left: 30px;
    margin-right: 15px;
}

nav #links{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}
nav a{
    color: rgb(255, 255, 255);
    font-family: 'cambria';
    font-weight: 500;
    font-size: 22px;
    padding-right: 30px;
    text-decoration: none;
}
aside{
    width: 100%;
    margin-top: 25vh;
}

aside h1{
    font-size: 60px;
    text-align: center;
    font-family: 'cambria';
    font-weight: 400;
    padding-bottom: 50px;
}

aside .paragraph_width{
    height:50vh;
    background-color: #4c0e2e;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-around;
}
.paragraph_width img{
    width: 400px;
    height: 280px;
    border-radius: 5px;
}

.center #main_p{
    width: 500px;
    font-size: 21px;
    word-spacing: 0.1em;
    line-height: 30px;
    /* margin-left: 15%; */
}

aside .tasks{
    display: flex;
    height: fit-content;
    margin: 50px 100px;
    padding: 5px;

}

.tasks .task_1{
    margin-left: 90px;
    text-align: center;
    width: fit-content + 50px;
    padding: 0 10px;
    font-family: calibri light;
    font-size: 20px;
    /* border: 1px solid rgb(110, 92, 92); */
    border-radius:10px;
    background-color: white;
    box-shadow: 1px 1px 8px ;
    padding: 20px;
}
.tasks .fa-solid{
    font-size: 100px;
    color: #4c0e2e;
}


footer{
    width: 97%;
    height: fit-content;
    background-color: #4c0e2e;
    display: flex;
    overflow: none;
    justify-content: space-around;
    color: white;
    padding: 20px;
    box-shadow: -5px -20px 5px solid black;
}
footer article{
    display: flex;
    flex-direction: column;
}
.footer a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.65);
    padding: 2px 0;
}

#footer_links:hover{
    color: yellow;
}
#footer_link:hover{
    color: rgba(255, 255, 255, 0.767);
    cursor: default;
}

/* LINE BEFORE NEXT SECTION */
.line{
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: fit-content;
}
.line1{
    border: 1px solid #4c0e2e;
    height: fit-content;
    width: 44%;
    align-items: center;
    margin-top: 12px;
}
.line #lineText{
    border: none;
    text-align: center;
    height: fit-content;
    width: fit-content;
    margin: 0;
    font-size: 18px;
    font-family: Arial, sans-serif;
    font-weight: 700;
}

/* IMAGE CART */
.container{
    display: flex;
    padding: 50px 0;
    background-color: rgb(255, 255, 255);
	box-shadow: 0 2px 5px rgba(145, 144, 144, 0.5);
    margin: 40px;
}
.container #containerText{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    justify-content: center;
}
#containerText p{
    text-align: center;
}
#containerText button{
    font-size: 18px;
    margin-top: 5%;
    padding: 8px;
    /* border-radius: 50px; */
    border: 1px solid grey;
    background-color: #4c0e2e;
    color: white;
}
#containerText button:hover{
    cursor: pointer;
}
.container2{
    width: 600px;
    display: -webkit-flex; 
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    height: 50vh;
    margin: 1% auto 2%; 
}
.card {
	flex: 1;
	border-radius: 100px;
	margin: 0;
	padding: 0;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	transition: all 500ms cubic-bezier(.14,.69,.93,1);
	box-shadow: 0 2px 20px rgba(0,0,0,0.5);
}
.card:hover{
    flex-basis: 30vh;
    /* flex-basis: 20vw; */
}
@media only screen and (min-width: 768px) and (max-width: 991px){
    .container{
        width: 100%;
    }
}
@media only screen and (max-width: 767px){
    .container{
        width: 100%; 
    }
}