*{
    margin: 0px;
    padding: 0px;
}

body{
    background: rgb(255, 255, 255);
    font-family: 'poppins', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: rgba(250, 235, 215, 0.8);
}

/* nav */

nav{
    display: flex;
    position: sticky;
    width: 100%;
    background-color: #4c0e2e;
    align-items: center;
    height: 100px;
    top: 0;
    box-shadow: 0px 1px 8px;
}

#nav-icon{
    display: flex;
    align-items: center;
}

#nav-icon h1{
    color: white;
}

.view:hover,
.register:hover{
    color: gold;
}


.home-img{
    width: auto;
    height: 50px;
    border: 1px solid #4c0e2e;
    border-radius: 50%;
    margin-left: 30px;
    margin-right: 15px;
}

nav #links{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}
nav a{
    color: rgb(255, 255, 255);
    font-family: 'cambria';
    font-weight: 500;
    font-size: 22px;
    padding-right: 30px;
    text-decoration: none;
}
aside{
    width: 100%;
    margin-top: 25vh;
}

aside h1{
    font-size: 60px;
    text-align: center;
    font-family: 'cambria';
    font-weight: 400;
    padding-bottom: 50px;
}

aside .paragraph_width{
    height:50vh;
    background-color: #4c0e2e;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-around;
}
.paragraph_width img{
    width: 400px;
    height: 280px;
    border-radius: 5px;
}

.center #main_p{
    width: 500px;
    font-size: 21px;
    word-spacing: 0.1em;
    line-height: 30px;
    /* margin-left: 15%; */
}

aside .tasks{
    display: flex;
    height: fit-content;
    margin: 50px 100px;
    padding: 5px;

}

.tasks .task_1{
    margin-left: 90px;
    text-align: center;
    width: fit-content + 50px;
    padding: 0 10px;
    font-family: calibri light;
    font-size: 20px;
    /* border: 1px solid rgb(110, 92, 92); */
    border-radius:10px;
    background-color: white;
    box-shadow: 1px 1px 8px ;
    padding: 20px;
}
.tasks .fa-solid{
    font-size: 100px;
    color: rgb(4, 4, 4);
}