<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIEW | TASK PLANNER</title>
    <link rel="stylesheet" href="view.css">
    <link rel="stylesheet" href="../style.css">

</head>
<body>
    

    <nav>
        <div id="nav-icon">
            <img src="../img/planify-logo.png" class="home-img">
        </div>

        <div id="links">
            <a href="../index.html  " class="view">Home</a>
            <a href="../register/register.html" class="register">Register Task</a>
        </div>
    </nav>
    

    <!----------------------ALL TASK ------------------------------->
    <section id="view-head">
        <h1 style="padding: 40px 10px; color: #4c0e2e;">
            ~ ALL TASK ~
         </h1>
        
        <div class="view-right">
            <h2>Actions:</h2>
            <div class="view-right-all">
                <div class="start-date">
                    <label>Start Date</label><br>
                    <input type="date" placeholder="Start-Date" class="start-date-input" >
                </div>
        
                <div class="end-date">
                    <label>End Date</label><br>
                    <input class="start-date-input" type="date" placeholder="Start-Date" >
                </div>
        
                <div class="assign">
                    <label>Assign</label><br>
                    <select name="Sort" id="employees">
                    </select>
                </div>
        
                <div class="assign">
                    <label>Status</label><br>
                    <select name="Sort" id="sorting-tasks">
                        <option value="sort-list">Open</option>
                        <option value="sort-list">Assign</option>
                        <option value="sort-list">Done</option>
                        <option value="sort-list">Not-Done</option>      
                    </select>
                </div>
            </div>
        </div>
            
            <div class="search-area">
               
         
                <input type="text" id="search" placeholder="Live Searching..." class="search" autocomplete="on">
                    <h4>Filter status:</h4>
                    <div class="filter">
                        <input type="checkbox" value="open">                            
                        <label for="open">Open</label>
                    </div>
                    <div class="filter">
                        <input type="checkbox" value="assigned">                            
                        <label for="assigned">Assigned</label>
                    </div>
                    <div class="filter">
                        <input type="checkbox" value="Done">                            
                        <label for="Done">Done</label>
                    </div>
                    <div class="filter">  
                        <input type="checkbox" value="Not Done">                            
                        <label for="Not_done">Not Done</label>
                    </div>
            </div>            

    </section>


    <section id="table" style="margin-top: 60px;">
        <table>
            <thead>
                <tr>
                    <th class="cell-highlight">Task No.</th>
                    <th class="cell-highlight">Title</th>
                    <th class="cell-highlight">Duration</th>
                    <th class="cell-highlight">Employee</th>
                    <th class="cell-highlight">Status</th>
                    <th class="cell-highlight">Actions</th>
                </tr>
            </thead>

            <tbody id="show">

            </tbody>
        </table>
    </section>

    <!--    FOOTER SECTION -->
    <footer>
        <article class="footer">
                <h3 id="footer_pages"><u>Pages</u></h3>
                <a href="view/view.html" id="footer_links">View tasks</a>
                <a href="index.html" id="footer_links">Home</a>
                <a href="register/register.html" id="footer_links">Register new task</a>
        </article>
        <article class="footer">
                <h3><u>Other</u></h3>
                <a href="#" id="footer_links">About us</a>
                <a href="#" id="footer_links">Contact Us</a>
                <a href="#" id="footer_links">Other services</a>
        </article>
        <article class="footer">
            <h3><u>Social</u></h3>
            <div class="box_social">
                <box-icon type='logo' name='github' color="white"></box-icon>
                <a href="https://github.com/Iampraiseottia/Task_Planner.git" id="footer_link">https://github.com/Iampraiseottia/Task_Planner.git</a>
            </div>
            <div class="box_social">
                <box-icon name='envelope' color="white"></box-icon>
                <a href="ottiapraise50@gmail.com" id="footer_link">ottiapraise50@gmail.com</a>
            </div>
            <div class="box_social">
                <box-icon name='envelope' color="white"></box-icon>
                <a href="engfj2003@gmail.com" id="footer_link">engfj2003@gmail.com</a>
            </div>
        </article>

        
    </footer>
    <script src="view.js" text/javascript></script>
 </body>
</html>